@model Labb2_Linq.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Information</h1>
<hr />
<div class="row">
    <h6>Lärare</h6>
    <h4>@Html.DisplayFor(model => model.TeacherFirstName) @Html.DisplayFor(model => model.TeacherLastName)</h4>
    <div class="col-md-4 mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Undervisar i kurser
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var teacherCourse in Model.TeacherCourses)
                {
                    <tr>
                        <td>
                            @teacherCourse.Course.CourseName
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="mt-md-5">
    <a class="text-decoration-none text-black-50" asp-action="Index">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
        </svg>
        Tillbaka
    </a>
</div>
